{% extends "base.html" %}
{% block title %}
Nos Produits
{% endblock %}

{% block content %}
<div class="container my-4">
    <a href="{% url 'category_list' %}" class="btn btn-secondary mb-3">Retour à la liste des catégories</a>
    {% if products %}
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 border-info rounded shadow-sm">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img-top rounded-top" alt="{{ product.name }}" style="width: 100%; height: 200px; object-fit: cover;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Prix : ${{ product.price }}</p>
                            <p class="card-text">
                                Catégorie :
                                <a href="{% url 'category_detail' product.category.id %}">{{ product.category.name }}</a>
                            </p>
                        </div>
                        <div class="card-footer bg-primary rounded-bottom">
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-light">Voir Détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <!-- Pagination -->
        {% if products.has_other_pages %}
        <nav aria-label="Page navigation" class="d-flex justify-content-center">
            <ul class="pagination">
                {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
                {% endif %}

                {% for num in products.paginator.page_range %}
                    {% if products.number == num %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        
    {% else %}
        <div class="alert alert-info">Aucun produit disponible.</div>
    {% endif %}
</div>
{% endblock %}
